# Deep Learning  
The input layer transfers data through synapses which have assigned weights (that is how ANNs work) and then we have the output layer. All input variables are independent to each other. We standardize the input values Output value can be numerical, binary or categorical dummy variables. 
The Neuron finds the weighted sum and applies activation function on it.
There are 4 different kinds of activation fucntion 
1. Threshhold function (Checks exactly if y=1)
2. The sigmoid fucntion or the logistic function - it is smoother than the threshhold function and tells us the probability that y=1 
3. Rectifier funtion- One of the most popular function. It is common to apply in the hidden layer. 
4. Hyperbolic tangent fucntion- The values go to below 0 so it is better.

## Here is a list of all activation fucntions 


![title](https://cdn-images-1.medium.com/max/1600/1*p_hyqAtyI8pbt2kEl6siOQ.png)

## What actually happens during training of the Nueral Network 

1. We initialize the weightys randomly (near 0, but not 0) 
2. Input the first layer, one feature per node 
3. **Forward Propagation**- From left to right such that impact of each neuron's activation is limited by it's weight. Propagate until you get the result Y 
4. Compare predicted value to actual value and measure the generated Error 
5. Back propagate the weights from right to left and update the weights according to how much they are responsible for the error (The learning rate decides by how much we update the values)
6. Repeat 1 to 5 
7. Redo more epochs 

## Articles to study 
 
1. [A list of cost functions used in Neural Netwrok design](https://stats.stackexchange.com/questions/154879/a-list-of-cost-functions-used-in-neural-networks-alongside-applications) 
2. [An intution for gradient descent](https://iamtrask.github.io/2015/07/27/python-network-part2/)
3. [The book on Neural Nteowrk and deep maths associated with it](http://neuralnetworksanddeeplearning.com/)

## Problem 
A bank has a churn problem. Customers are leaving the bank. You are given a tiny sample of 10,000 customers and their details that was measured 6 months ago and you are responsible to know what is the reason of the churn and tell which customers are most likely to leave. The bank has measured after 6 months whether the customers left or are there and you have access to the data.

In [7]:
# Data preprocessing first 
import pandas as pd
dataset=pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
dataset.shape

(10000, 14)